*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, #be20d6, #5b0c83);
    padding: 0 !important;
}
.navbar-brand{
    height: 55px;
    padding-left: 25px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}
/*--------------------------------autre section--------------------------------------*/

#autre{
    background-image: linear-gradient(to right, #be20d6, #5b0c83);
    color: #fff;
    padding-top:5%;
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.play{
    width: 50px;
    margin: 10px;
}
#autre a {
    color: #fff;
    text-decoration:none;
}
.bottom-img{
    width: 100%;

}
/*-------------------------------------section service-------------------------------------------*/

#service{
    padding: 20px 0;
}
.service-img{
    width: 100px;
    margin-top: 20px;
}
.service{
    padding: 20px;
}
.service h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before{
    content: "";
    background: #5b0c83;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after{
    content: "";
    background: #5b0c83;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
#service .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #be20d6, #5b0c83);
}
/*-----------------------------------Section A Propos--------------------------------------*/

#a_propos{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.propos-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}
#a_propos ul li{
    margin: 10px 0;
}
#a_propos ul{
    margin-left: 20px;
}

/*-----------------------------------------Temoignage-------------------------------------------*/

#temoignage{
    margin: 100px 0;
}
.temoignage{
    border-left: 4px solid #be20d6;
    margin-top: 50px;
    margin-bottom: 50px;
}
.temoignage img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px ;
}
.user-detail{
    display: inline-block;
    font-size: 12px;
}
/*-----------------------------------section reseaux-sociaux------------------------------------*/
#reseaux-sociaux{
    background: #f8f9fa ;
    padding: 100px 0;
}
#reseaux-sociaux p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icon img{
    width: 60px;
    transform: 0.5s;
}
.social-icon a:hover img{
    transform: translateY(-10px);
}

/*-------------------------------------section footer-----------------------------------------------*/

#footer{
    background-image: linear-gradient(to right, #be20d6, #5b0c83);
    color: #fff;
}
.footer-img{
    width: 100%;
}
.footer-box{
    padding: 20px;
}
.footer-box img{
    width: 120px;
    padding: 10px;
}
.footer-box .fa{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #be20d6, #5b0c83);
}
.footer-box .form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}
.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 20px;
    background-image: linear-gradient(to right, #be20d6, #5b0c83);
}
hr{
    background-color: #fff;
}
.copyright{
    margin-bottom: 0;
    padding-bottom: 30px;
    text-align: center;
}
/*html {
    scroll-behavior: smooth;
  }*/
